.navbar-brand {
    padding: 0;
}

#header-nav {
    margin-bottom: 16px;
}

nav {
    background-color: rgb(0, 84, 128);
}

.brand-logo img {
    height: 48px;
    margin: 8px;
}

/* workaround of scrollbar appearing under tabs 
   https://github.com/Dogfalo/materialize/issues/4400 */
.tabs {
    overflow: hidden;
}

.sidenav .user-view .background {
    background-color: rgb(0, 84, 128);
}

.table-responsive {
    overflow: auto;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    /* todo: hacking with materializecss. build interface. */
    position: initial !important;
    opacity: initial !important;
    pointer-events: initial !important;
    width: 24px !important;
    height: 24px !important;
}
