{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

<h1 align="center">Detail of Module Absence case {{absencemodule.pk}}</h1>
<p>{{absencemodule}}</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if absencemodule %}
                {% for appeal in absencemodule.absenceappeal_set.all %}
                <tr>
                    <td>{{appeal.time}}</td>
                    <td>{{appeal.status}}</td>
                </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td><a class="btn btn-default" href="{% url 'absence-add-appeal' absencemodule.pk%}">Add</a><a class="btn btn-default" href="{% url 'absence-detail' absencemodule.AbsenceForm.pk%}">Return</a></td>
            </tr>
        </tbody>
    </table>
</div>
 

{% endblock %}
