{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

<td><a class="btn btn-default" href="{% url 'application-index' %}">View EC</a></td>
<h1 align="center">Student Absence Overview</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Student</th>
                <th scope="col">Comment</th>
                <th scope="col">Submit Date</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if AbsenceForm_list %}
                {% for absence in AbsenceForm_list %}
                <tr>
                    <td>{{absence.student}}</td>
                    <td>{{absence.comment}}</td>
                    <td>{{absence.submit_date}}</td>
                    <td>{{absence.AbsenceForm_status}}</td>
                    <td><a class="btn btn-default" href="{% url 'absence-detail' absence.pk %}">View detail</a></td>
                </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td><a class="btn btn-default" href="{% url 'create_absence' %}">Add</a></td>
            </tr>
        </tbody>
    </table>
</div>
 

{% endblock %}
