{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="divider"></div>
        <div class="section">
            <h5>Basic Information</h5>
            <p><a href="{% url 'student_detail' application.student.student_id %}">{{ application.student }}</a></p>
            <p>Identifier: {{ application.identifier }}</p>
            <p>From: {{ application.from_date }}</p>
            <p>To: {{ application.to_date }}</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Affected Modules</h5>
            <a href="{% url 'application_detail_create' application.pk %}" class="waves-effect waves-light btn">Add</a>
            <table>
                <thead>
                <tr>
                    <th scope="col">Module</th>
                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                    <th scope="col">Appeal</th>
                </tr>
                </thead>
                <tbody>
                    {% for d in application.detail_set.all %}
                    <tr>
                        <td><a href="{% url 'module_detail' d.module.pk %}">{{ d.module }}</a></td>
                        <td>{{ d.from_date }}</td>
                        <td>{{ d.to_date }}</td>
                        <td>
                            {% with d.appeal_set.all as appeals %}
                            {% if appeals %}
                            <ul class="collection">
                                {% for a in appeals %}
                                <li class="collection-item">{{ a.get_status_display }}{% if a.comment %} ({{ a.comment }}){% endif %}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                            <a href="{% url 'application_appeal_create' application.pk d.pk  %}" class="waves-effect waves-light btn">Appeal</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Decision</h5>
            <p>{{ application.get_status_display }}</p>
            <p>{{ application.comment }}</p>
        </div>
    </div>
</div>
</div>
 

{% endblock %}
