{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

<h1 align="center">Detail of EC Application {{specific_ec.pk}}</h1>
<p>{{specific_ec}}</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Module</th>
                <th scope="col">From Time</th>
                <th scope="col">Due Time</th>
                <th scope="col">Assessment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if specific_ec %}
                {% for ec_detail in specific_ec.ecdetail_set.all %}
                <tr>
                    <td>{{ec_detail.module}}</td>
                    <td>{{ec_detail.from_time}}</td>
                    <td>{{ec_detail.due_date}}</td>
                    <td>{{ec_detail.assessment_kind}}</td>
                <td><a class="btn btn-default" href="{% url 'detail-appeal' ec_detail.pk%}">Appeal</a></td>
                </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td><a class="btn btn-default" href="{% url 'add-assessment' specific_ec.pk%}">Add</a><a class="btn btn-default" href="{% url 'application_index' %}">Return</a></td>
            </tr>
        </tbody>
    </table>
</div>
 

{% endblock %}
