{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

<h1 align="center">EC Overview</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Student</th>
                <th scope="col">Comment</th>
                <th scope="col">Submit Date</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if EC_list %}
                {% for ec in EC_list %}
                <tr>
                    <td>{{ec.student}}</td>
                    <td>{{ec.comment}}</td>
                    <td>{{ec.submit_date}}</td>
                    <td>{{ec.EC_status}}</td>
                    <td><a class="btn btn-default" href="{% url 'ec-detail' ec.pk %}">View detail</a></td>
                </tr>
                    {% for detail in ec.entry_set.all %}
                        <tr>
                            <td>{{detail.module}}</td>
                            <td>{{detail.assessment_kind}}</td>
                            <td>{{detail.from_time}}</td>
                            <td>{{detail.due_date}}</td>
                            <td><a class="btn btn-default" href="{% url 'single-edit' detail.pk %}">Edit single module's EC</a></td>
                        </tr>
                    {% endfor%}
                {% endfor %}
            {% endif %}
            <tr>
                <td><a class="btn btn-default" href="{% url 'create_ec' %}">Add</a></td>
            </tr>
        </tbody>
    </table>
</div>
 

{% endblock %}
