{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>
    {% include 'material/includes/material_css.html' %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app/styles/site.css' %}" />
    {% block styles %}{% endblock %}
</head>

<body>

<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo"><img src="{% static 'app/images/uon-logo.svg' %}" alt="University of Nottingham"></a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% include 'app/layout/nav_items.html' %}
            {% include 'app/layout/loginpartial.html' %}
        </ul>
    </div>
    {% block navcontent %}{% endblock %}
</nav>

<ul class="sidenav" id="mobile-nav">
    {% if user.is_authenticated %}
    <li>
        <div class="user-view">
            <div class="background">
            </div>
            <a href="#user"><img class="circle"></a>
            <a href="#name"><span class="white-text name">{{ user.username }}</span></a>
            <a href="#name"><span class="white-text email"></span></a>
        </div>
    </li>
    {% endif %}
    {% include 'app/layout/nav_items.html' %}
    {% if user.is_authenticated %}
    <li><div class="divider"></div></li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    {% endif %}
</ul>

{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
{% include 'material/includes/material_js.html' %}
<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $(".dropdown-trigger").dropdown();
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>
